@import 'tailwindcss';

@layer theme {
    @font-face {
        font-family: 'minecraft';
        src: url('/fonts/MinecraftRegular.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'minecraft';
        src: url('/fonts/MinecraftBold.woff2') format('woff2');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'minecraft';
        src: url('/fonts/MinecraftItalic.woff2') format('woff2');
        font-weight: 400;
        font-style: italic;
        font-display: swap;
    }
}
